*{
  box-sizing:border-box;
  margin:0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.flex-container{
/* display: flex; */
background-color: aliceblue;
}

.item {
  width:100px;
  height: 100px;
  background-color: #254DE4;
  margin: 10px;
  color:white
}