*{
  box-sizing:border-box;
  margin:0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.flex-container{
height: 400px; /*without a height you won't be able to have multiple lines of your items*/
display: flex;
background-color: aliceblue;
/* justify-content: start (right of page), center(mid of page), end (left of page); space-around (even space all around), space-between(even space between all items) */
justify-content:start ;
}

.item {
  width:100px;
  height: 100px;
  background-color: #254DE4;
  margin: 10px;
  color:white;
  float: left;
}